@import url('https://fonts.googleapis.com/css?family=Bitter:700|Inconsolata');

body {
    color: #222;
    font-family: 'Inconsolata', sans-serif;
}

h1 {
    font-family: 'Bitter', serif;
    font-weight: 700;
    text-align: center;
    padding: 0.5rem 0 0 0;
    margin: 0;
}

h2 {
    font-family: 'Inconsolata', sans-serif;
}

h3 {
    font-family: 'Inconsolata', sans-serif;
}

p {

}

a#home {
    position: fixed;
    top: 10px;
    left: 10px;
    color: #222;
    text-decoration: none;
    font-size: 2em;
}

a#lang {
    position: fixed;
    top: 10px;
    right: 10px;
    color: #222;
    text-decoration: none;
    font-size: 2em;
}

a:visited {
    color: #222;
    text-decoration: none;
}

.container {
    margin: 0 auto;
    max-width: 600px;
}

.footer {
    padding: 1.5rem 0 0 0;
    color: #666;
    font-family: 'Inconsolata', monospace;
    font-size: 0.800rem;
    line-height: 1.25rem;
    text-align: center

}
