<header>
    <a id="logo" href="/en">Carl Bolduc</a>
    <nav>
        <ul>
            <li><a href="/en/blog">Blog</a></li>
            <li><a href="/en/projects.html">Projects</a></li>
            <li><a href="/">Fr</a></li>
        </ul>
    </nav>
</header>
