<header>
    <a id="logo" href="/en/index.html"></a>
    <nav>
        <ul>
            <li class="tiny-right-padding"><a href="/en/blog/index.html">Blog</a></li>
            <li class="tiny-right-padding"><a href="/en/projects.html">Projects</a></li>
            <li><a href="/index.html">Fr</a></li>
        </ul>
    </nav>
</header>
