<header>
    <a id="logo" href="/">Carl Bolduc</a>
    <nav>
        <ul>
            <!-- <li><a href="/blog">Blog</a></li> -->
            <li><a href="/projets.html">Projets</a></li>
            <li><a href="/en">En</a></li>
        </ul>
    </nav>
</header>
