<li><a id="linkedin" class="social" href="https://www.linkedin.com/in/carl-bolduc"></a></li>
<li><a id="facebook" class="social" href="https://www.facebook.com/carlbolduc.dev/"></a></li>
<li><a id="github" class="social" href="https://github.com/carlbolduc"></a></li>
